<div class="header">
  <div class="header__logo">
    <a href="<%= url_for '/index.html' %>" class="header__logo__link">
      Tweek
    </a>
  </div>
  <nav class="header__nav">
    <li class="header__nav__item"><a href="https://www.facebook.com/TweekHQ/" target="_blank">Facebook</a></li>
    <li class="header__nav__item"><a href="https://twitter.com/TweekHQ" target="_blank">Twitter</a></li>
    <li class="header__nav__item"><a href="https://medium.com/tweekapphq" target="_blank">Medium</a></li>
  </nav>
</div>
