h1, h2 {
  font-family: 'Work Sans';
  font-weight: 300;
  color: #000;

  strong {
    font-weight: 700;
  }
}

h1 {
  font-size: 46px;
  line-height: 59px;
}

h2 {
  font-size: 31px;
  line-height: 47px;
}

p {
  font-family: 'Work Sans';
  font-size: 16px;
  color: #181326;
}

a {
  color: #000;
  text-decoration: underline;

  &:hover {
    opacity: 0.5;
  }
}
